# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
run
libs
classes
jars

# compiled class files
*.class
standalone_bin/

# user config and data
config.properties
*.etd
oredict.csv

